{% extends 'UserBundle:Dashboard:index.html.twig' %}

{% trans_default_domain 'UserBundle' %}

{% block headersection %}
    <div class="col-xl-12">
        <h2>{{ 'archive.title'|trans }}</h2>
    </div>
{% endblock %}

{% block content %}
	<div class="col-xl-12 col-md-12 ">
		{{ form_start(form, {attr: {id: 'form-archive-posts', class: 'form-inline w-100'} }) }}
				<div class="form-group channels-container">

					<div class="form-group">
						{{ form_widget(form.status, {'attr': {'class': ''}}) }}
					</div>
					<div class="form-group">
						{{ form_widget(form.channels, {'attr': {'class': ''}}) }}
					</div>
					
					<div class="form-group">
						{{ form_widget(form.other, {'attr': {'class': ''}}) }}
					</div>
					<div class="form-group">
						{{ 'archive.form.from'|trans }}
						{{ form_errors(form.date_from) }}
						{{ form_widget(form.date_from, {'attr': {'class': 'form-control date-input'}}) }}
						{{ 'archive.form.to'|trans }}
						{{ form_errors(form.date_to) }}
						{{ form_widget(form.date_to, {'attr': {'class': 'form-control date-input '}}) }}
					</div>

					<div class="form-group ml-auto">
						{{ form_widget(form.search, {'attr': {'class': 'search-input ', 'placeholder': 'filter.search'|trans}}) }}
					</div>
				</div>
		{{form_end(form)}}
	</div>
      
	<div id="result-contener" class="row flex-row flex-grow-1">
		{{content|raw}}
	</div>
{% endblock %}
