{% trans_default_domain 'UserBundle' %}
{% import "macro.html.twig" as macros %}

{% for item in list %}
    <div id="post-{{item.getId()}}" class="col-md-12 post-row-top">
        <div class="row flex-row">
            
		</div>
	</div>
{% else %}
    <div class="col-md-12">
            <div class="emptylist">{{'list.empty'|trans}}</div>
    </div>
{% endfor %}
{% block listpagination %}
{{ knp_pagination_render(list, 'UserBundle:Dashboard:pagination.html.twig') }}
{% endblock %}